<div class="panel panel-default">
  <div class="panel-heading">
    <h4><a data-toggle="collapse" data-parent="#accordion" href="#{{ id }}">{{ title }}</a></h4>
    <p class="small">
      {{ company }}, {{ period }}
    </p>
  </div>
  <div id="{{ id }}" class="panel-collapse collapse{{ in }}">
    <div class="panel-body">
        {{ description }}
    </div>
  </div>
</div>
