<div class="uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-3">
  <div class="uk-panel uk-panel-box">
    <div class="uk-panel-teaser">
      <img src="" alt="" />
    </div>
      <h3 class="uk-panel-title"><a href="{{ permalink }}">{{ title }}</a></h3>
      <p class="subtitle">
        {{ client }}
      </p>
      <p>
        {{ description }}
      </p>
      <p class="tags">
      {{#each tags }}
        {{ . }}
      {{/each}}
      </p>
  </div>
</div>
