<div class="project">
  <a href="{{ permalink }}"><img src="{{ image }}" alt="{{ title }}" class="img-responsive" /></a>
    <h2><span><a href="{{ permalink }}">{{ title }}</a>
    		<br>
          <span class="client">{{ client }}</span></span>
    </h2> 
</div>
