<div class="persona {{ cover }}">
	<div class="profile">
		<p><img src="{{ img }}" alt="{{ name }}" width="50" height="50"></p>
		<p><span class="large">{{ name }}</span>
			<br>
		{{ demographics }}
			<br>
		{{ occupation }}
			<br>
		{{ location }}
		</p>
		
	</div>
	<div class="persona-information">
		<p><span class="title">Traits</span></p>
		<p>
			{{#each traits }}
				<span class="tag">{{this}}</span>
			{{/each}}
		</p>
		<p><span class="title">Pain points:</span></p>
			<ul>
				{{#each painpoints }}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		<p><span class="title">Problem statement:</span></p>
		<p>"{{ problemstatement }}"</p>
	</div>
</div>